/** fonts **/

@font-face {
    font-family: "STARWARS";
    src: url("../../assets/fonts/STARWARS.eot?") format("eot"),
        url("../../assets/fonts/STARWARS.woff") format("woff"),
        url("../../assets/fonts/STARWARS.ttf") format("truetype"),
        url("../../assets/fonts/STARWARS.svg#STARWARS") format("svg");
    font-weight:normal;
    font-style:normal;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/** HTML **/
body {
    background-image: url('../../assets/images/deathstar.jpg');
    background-size: 100%;
    background-position: center;
    color: white;
    font-family: 'PT Sans', sans-serif;
}
h1, h2, h3, h4 {
    color: #ffd700;
    font-family: STARWARS;
    text-transform: uppercase;
}
header {
    text-align: center;
}
h1 {
    font-size: 2.5em;
    margin: 1em 0;
}
h3 {
    margin: 0;
}


/** pre stage **/
.pre-stage-wrapper {
    height: auto;
}

/** players **/
.players, .enemies, .dead {
    display: flex;
    justify-content: center;
}
.player {
    background-size: cover;
    background-position: center;
    color: white;
    cursor: pointer;
    height: 250px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    transition: all .5s ease-out;
    width: 250px;
}
.player .name {
    position: absolute; 
    bottom: 10px;
    left: 10px;
}
.player .health {
    font-size: 2em;
    position: absolute; 
    top: 10px;
    right: 10px;
}
#obi {
    background-image: url('../../assets/images/Star-wars-obi-wan-kenobi.jpg')
}
#maul {
    background-image: url('../../assets/images/Star-Wars-Darth-Maul.jpg')
}
#mace {
    background-image: url('../../assets/images/mace-windu.jpg')
}
#darth {
    background-image: url('../../assets/images/Darthvader.jpg')
}

.message {
    color: #ffd700;
    font-family: STARWARS;
    font-size: 10em;
    line-height: 1;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}


/** stage **/
.stage-wrapper {
    border: 3px solid #ffd700;
    padding: 20px;
}
.stage {
    align-content: center;
    display: flex;
    min-height: 350px;
    justify-content: center;
}
.hero-wrapper, 
.opponent-wrapper {
    padding: 10px;
    width: 310px;
    text-align: center;
}

.hero, .opponent {
    background-color: rgba(255, 255, 255, .2);
    padding: 10px;
    /* border: 1px dotted #333;
    height: 100%; */
}
.hero > .player, .opponent > .player {
    margin: 10px;
}

.attack-wrapper {
    text-align: center;
}
.attack {
    background-color:#FFD700;
    background-image: linear-gradient(
      0 0,
      rgba(255,255,255, 0.2) 0%,
      rgba(255,255,255, 0.2) 37%,
      rgba(255,255,255, 0.8) 45%,
      rgba(255,255,255, 0.0) 50%
    );
    background-image: -webkit-linear-gradient(
        top left,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    );
    background-image: -moz-linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    );    
    background-image: -o-linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    );
    -moz-background-size: 250% 250%, 100% 100%;
    background-size: 250% 250%, 100% 100%;
    background-repeat: no-repeat;
    background-position: -480px -60px, 0 0;     
    border: none;
    border-radius: 4px;
    font-family: STARWARS;
    line-height: 3;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    position: relative;
    -webkit-transition: background-position 0s ease;
    -moz-transition: background-position 0s ease;       
    -o-transition: background-position 0s ease;
    transition: background-position 0s ease;
    width: 400px;
}
.attack:hover {
    background-position: 0 0, 0 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}


.attack:after {
    content: "";
    background: #ffd700;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.attack:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

/** post stage **/
.post-stage-wrapper {
    min-height: 300px;
    width: 100%;
}
.dead-wrapper {
    display: none;
    text-align: center;
}
.dead {
    width: 100%;
}

.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}